button {
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  background: #5e81ac;
  color: white;
  font-size: 32px;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  box-shadow: 0px 0px 10px rgba(97, 218, 250, 0.5);
  transform: rotate(0);
  transition: .3s ease;
}

button:hover {
  background: #82aaff;
  transform: rotate(360deg);
}